.specialist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialistImageContainer {
  flex: 0 0 197px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.textBolder {
  margin: 1.2rem 0 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.textDefault {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .specialist {
    flex-direction: row;
    gap: 0 4rem;
  }

  .specialist:nth-child(even) .specialistImageContainer {
    order: 2;
  }

  .specialist:nth-child(even) .textBolder,
  .specialist:nth-child(even) .textDefault {
    text-align: right;
  }

  .textBolder {
    margin-top: 0;
  }
}
