.service {
  position: relative;
  display: flex;
  aspect-ratio: 1;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  box-shadow: #0000003d 0px 3px 8px;
  transition: transform 0.5s;
}

.serviceName {
  position: relative;
  text-align: center;
  font-size: 1.333rem;
  font-weight: 400;
}

.newService::before {
  content: "";
  position: absolute;
  width: 38px;
  aspect-ratio: 1;
  top: -19px;
  left: -19px;
  border-radius: 100%;
  background-color: #e07a64;
}

.new {
  display: none;
  margin-top: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
}

.newService .new {
  display: block;
}

@media screen and (min-width: 600px) {
  .newService::before {
    width: 22px;
    top: -11px;
    left: -11px;
  }
}

@media (hover: hover) {
  .service:hover {
    transform: scale(1.05);
  }
}
