.menu {
  display: none;
  list-style: none;
  gap: 0 1.5rem;
}

.menuBtn {
  display: block;
  padding: 0.5rem 1rem;
  background-color: transparent;
  text-decoration-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  transition: text-decoration-color 0.3s;
}

.disabled {
  cursor: not-allowed;
}

@media screen and (min-width: 600px) {
  .menu {
    display: flex;
  }
}

@media (hover: hover) {
  .menuBtn:hover {
    text-decoration-color: #ffffff;
  }
}
