.mainContent {
  width: 100%;
  max-width: 600px;
}

.mainContainer {
  display: flex;
  height: 100%;
  padding-top: 71px;
  align-items: center;
}

.mainContentHeader,
.mainContentSubHeader,
.offerBtn {
  color: #fff;
}

.mainContentHeader {
  font-size: 2rem;
  font-weight: 700;
}

.mainContentSubHeader {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.offerBtn {
  display: block;
  width: fit-content;
  margin-top: 2rem;
  padding: 0.5rem 4rem;
  border: 3px solid #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  transition: color 1s, background-color 1s;
}

@media (hover: hover) {
  .offerBtn:hover {
    background-color: #fff;
    color: #333;
  }
}
