.ourSpecialists {
  padding: 3rem 0;
  background-color: #f1f1f1;
}

.specialistsHeader {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #152d41;
}

.specialistsContent {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  gap: 3rem 0;
}

@media screen and (min-width: 600px) {
  .specialistsHeader {
    text-align: left;
  }
}
