.footer {
  background-color: #4e4e4e;
  padding: 1.4rem 0;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footerParagraph {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.icons {
  display: flex;
  gap: 1rem;
}

.linkIcon {
  display: block;
  cursor: pointer;
}

.icon {
  font-size: 1.72222rem;
}

.icon path {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footerContainer {
    flex-direction: row;
  }
}
